@font-face {
  font-family: PT-Sans-Regular;
  src: url(./fonts/PTSans-Regular.woff2);
}

@font-face {
  font-family: PT-Sans-Bold;
  src: url(./fonts/PTSans-Bold.woff2);
}

@font-face {
  font-family: Rubik;
  src: url(./fonts/Rubik-VariableFont_wght.woff2);
}

:root {
  --main-font: PT-Sans-Regular;
  --main-font-bold: PT-Sans-Bold;
  --secondary-font: Rubik;
  --text-color: black;
  --main-bg-color: rgb(190, 190, 190);
  --card-left-color: #0d6efd;
  --background-url: url(./img/background.webp);
}

html[data-theme="light"] {
  --main-bg-color: rgb(254, 250, 239);
  --card-left-color: #0d6efd;
  --main-bg-color: #f7f7f7;
  --text-color: black;
  --background-url: url(./img/background.webp);
  --card-bg: url(./img/brainbg.jpg);
}
html[data-theme="dark"] {
  --main-bg-color: rgb(254, 250, 239);
  --card-left-color: rgb(39, 53, 92);
  --main-bg-color: #434343;
  --text-color: white;
  --background-url: url(./img/background_dark.webp);
  --card-bg: url(./img/brainbg_dark.jpg);
}
body {
  background-image: var(--background-url);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

button {
  background-color: var(--card-left-color) !important;
  border-color: var(--card-left-color) !important;
}
.darkmode-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
#night-mode {
  object-fit: cover;
  position: absolute;
  margin: 25px;
  transition: 125ms ease-in-out;
}
#card-box {
  background-image: var(--card-bg);
  border-color: var(--main-bg-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mb-300 {
  margin-bottom: 300px !important;
}

h5,
p {
  color: var(--text-color) !important;
}
#night-mode:hover {
  cursor: pointer;
  transform: translateY(-5px);
  filter: drop-shadow(0 0 0.75rem orange);
}

.card-wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.card-left-bg {
  background-color: var(--card-left-color);
}

.answer:hover {
  background-color: darkgray;
  transition: 125ms ease-in-out;
  cursor: pointer;
}

.answer-selected {
  background-color: orange;
}

.answer-selected:hover {
  background-color: orange !important;
}
#card-box {
  background-color: var(--main-bg-color) !important;
}
.card-content {
  padding: 10px 80px;
}
.right_answer {
  background-color: green;
}

.wrong_answer {
  background-color: darkred;
}

.question-footer {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  color: var(--text-color);
}
#score,
.score {
  color: var(--text-color);
}
#card-body-start,
#card-body-end {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.start-img {
  object-fit: cover;
  height: 200px;
}

.img-container {
  display: flex;
  justify-content: center;
}

.dark-blue {
  background-color: var(--card-left-color) !important;
}

footer,
footer a {
  color: var(--text-color);
  text-decoration: none;
}

@media screen and (max-height: 875px) {
  #night-mode {
    margin: 10px;
  }
}
