@font-face {
  font-family: PT-Sans-Regular;
  src: url(./fonts/PTSans-Regular.woff2);
}

@font-face {
  font-family: PT-Sans-Bold;
  src: url(./fonts/PTSans-Bold.woff2);
}

@font-face {
  font-family: Rubik;
  src: url(./fonts/Rubik-VariableFont_wght.woff2);
}

:root {
  --main-font: PT-Sans-Regular;
  --main-font-bold: PT-Sans-Bold;
  --secondary-font: Rubik;
  --main-bg-color: rgb(254, 250, 239);
  --car-left-color: rgb(39, 53, 92);
}
body {
  background-image: url(./img/background2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.card-wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.card-left-bg {
  background-color: var(--car-left-color);
}

.card-size {
  min-width: 500px !important;
  max-width: 1000px !important;
}

.answer:hover {
  background-color: darkgray;
  transition: 125ms ease-in-out;
  cursor: pointer;
}

.answer-selected {
  background-color: orange;
}

.answer-selected:hover {
  background-color: orange !important;
}

.card-content {
  padding: 10px 80px;
}
.right_answer {
  background-color: green;
}

.wrong_answer {
  background-color: darkred;
}

.question-footer {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

#card-body-start {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.start-img {
  object-fit: cover;
  height: 150px;
  width: auto;
}
